/**
 * Primary Addon for Elementor Styling
*/

@media screen and (max-width:1415px) {
	.banner-container {
	  padding-right: 100px;
	  padding-left: 100px;
	}
}
@media screen and (max-width:1366px) {
	
}

@media screen and (max-width:1310px) {
	.napae-history-wrap .owl-carousel .owl-nav button.owl-next,
	.napae-history-wrap .owl-carousel .owl-nav button.owl-prev {
	  bottom: -20px;
	}
}
@media screen and (min-width:1270px) {
	.napae-history-wrap.history-two.history-three {
	  width: 100%;
	  min-width: 1140px;
	}
}
@media screen and (max-width:1199px) {
	.banner-caption h1 {
    font-size: 42px;
	}
	.banner-caption p {
    font-size: 18px;
    line-height: 30px;
	}
	.banner-container {
	  max-width: 900px;
	}
	.napae-mate-item {
	  max-width: 300px;
	  margin: 0 auto 72px;
	}
	.contact-video-btn-wrap .contact-video-btn {
	  position: absolute;
	  left: 0;
	  right: 0;
	}
}
@media screen and (max-width:991px) {
	.napae-history-wrap.history-two .napae-history-item {
	  -ms-flex: 0 0 50%;
	  flex: 0 0 50%;
	  max-width: 50%;
	  margin-bottom: 30px;
	}
	.napae-process-item-vertical .vertical-info,
	.napae-process-item-vertical .napae-image,
	.napae-history-item .history-info,
	.napae-history-item .history-image {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	  padding: 0 15px;
	}
	.napae-process-item-vertical:nth-child(odd) .vertical-info,
	.napae-history-item:nth-child(odd) .history-info {
	  padding-right: 15px;
	  text-align: left;
	}
	.napae-process-item-vertical:nth-child(odd) .napae-image,
	.napae-history-item:nth-child(odd) .history-image {
	  padding-left: 15px;
	}
	.napae-process-item-vertical:nth-child(even) .napae-image,
	.napae-history-item:nth-child(even) .history-image {
	  padding-right: 15px;
	  text-align: left;
	  -ms-flex-order: 1;
	  order: 2;
	}
	.napae-process-item-vertical:nth-child(even) .vertical-info,
	.napae-history-item:nth-child(even) .history-info {
	  padding-left: 15px;
	  text-align: left;
	  -ms-flex-order: 2;
	  order: 1;
	}
	.napae-history-item {
	  padding-left: 30px;
	}
	.napae-history-item span,
	.napae-history-item span:before,
	.napae-history-item span:after {
	  right: auto;
    top: 0px;
	}
	.napae-history-wrap:before {
	  left: 15px;
	  right: auto;
	}
	.napae-history-item {
	  padding: 0 0 50px 30px;
	}
	.napae-history-item .history-info span {
	  left: 11px;
	}
	.napae-history-item .history-info {
	  padding-bottom: 20px;
	}
	.history-vertical .napae-history-item .history-info {
		padding-top: 20px;
		margin-bottom: 15px;
	}
	.history-vertical .napae-history-item:nth-child(odd) .history-info {
    margin-left: 45px;
    border-left: 3px solid #ed366d;
    border-radius: 0 10px 10px 0;
    border-right: none;
    text-align: left;
    width: 90%;
		flex: 0 0 90%;
		padding-left: 45px;
	}
	.history-vertical .napae-history-item:nth-child(even) .history-info {
		width: 90%;
		flex: 0 0 90%;
	}
	.napae-masonry[data-items="3"] .masonry-item,
	.napae-masonry[data-items="4"] .masonry-item,
	.masonry-item.one-third,
	.masonry-item.one-fourth,
	.masonry-item.one-fourth-two,
	.masonry-item.one-third-two,
	.masonry-item.one-half,
	.masonry-item.one-half-two,
	.masonry-item.full-width {
	  width: 50%;
	}
	.process-info {
	  max-width: 132px;
	  margin: 0 auto;
	}
	.napae-process-item {
	  padding: 15px;
	  width: 50%;
	}
	.napae-process-item:after,
	.napae-process-item:before,
	.border-style.napae-process-item:before {
		content: none;
	}
	.process-number-item {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	.napae-process-wrap.style-three {
	  padding-left: 40px;
	}
	.napae-process-wrap.style-three:before {
	  left: 15px;
	  right: auto;
	}
	.napae-process-wrap.style-three {
	  padding-left: 30px;
	}
	.napae-process-item-vertical:before,
	.napae-process-item-vertical:after {
	  right: auto;
	  left: -7px;
	}
	.napae-team-single-item .single-mate-image,
	.napae-team-single-item .single-mate-info {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}
	.napae-team-single-item .single-mate-info {
	  padding-top: 40px;
	  text-align: center;
	}
	.napae-aboutus-item .aboutus-image,
	.napae-aboutus-item .aboutus-info,
	.napae-aboutme-item .aboutme-image,
	.napae-aboutme-item .aboutme-info {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
	.napae-team-item {
	  max-width: 400px;
	  margin: 0 auto;
	}
	.napae-swiper-slide.swiper-container {
    height: auto;
    min-height: auto;
  }
	.napae-swiper-slide.swiper-container .swiper-button-prev,
  .napae-swiper-slide.swiper-container .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  .napae-swiper-slide.swiper-container .swiper-button-prev {
    left: 20px;
  }
  .napae-swiper-slide.swiper-container .swiper-button-next {
    right: 20px;
  }
  .banner-caption h1 {
    font-size: 30px;
    line-height: 40px;
	}
	.banner-caption p {
    font-size: 16px;
    line-height: 28px;
	}
	.banner-caption.left-align,
	.banner-caption.right-align,
	.banner-caption.center-align {
	  margin: 0 auto;
	  text-align: center;
	}
	.gallery-info h2 {
	  font-size: 20px;
	}

	
}
@media screen and (max-width:782px) {
	.banner-container {
    max-width: 720px;
	}
}
@media screen and (max-width:767px) {
	.napae-history-wrap.history-two .napae-history-item {
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}
	.masonry-item,
	.napae-process-item,
	.napae-masonry[data-items="3"] .masonry-item,
	.napae-masonry[data-items="4"] .masonry-item,
	.masonry-item.one-third,
	.masonry-item.one-fourth,
	.masonry-item.one-fourth-two,
	.masonry-item.one-third-two,
	.masonry-item.one-half,
	.masonry-item.one-half-two,
	.masonry-item.full-width {
	  width: 100%;
	}
	.image-wrap:after {
		content: none;
	}
  .napae-mate-item {
	  margin-bottom: 67px;
	}
	.testimonials-style-two .napae-testimonial-item {
	  padding: 30px;
	}
	.testimonials-style-two .napae-testimonial-item {
    padding: 30px;
  }
  .napae-testimonial-item p {
    font-size: 14px;
  }
  .napae-testimonial-info {
    padding-top: 20px;
  }
  .testimonials-style-two .owl-carousel .owl-nav button.owl-prev {
    left: 50px;
  }
  .testimonials-style-two .owl-carousel .owl-nav button.owl-next {
    right: 50px;
  }
  .napae-customer-rating {
    font-size: 14px;
  }
  .napae-testimonials-wrap {
    padding: 30px;
    margin-top: 20px;
  }
  .napae-testimonials-wrap .napae-icon {
    top: -15px;
  }
  .napae-testimonials-wrap .napae-icon i {
    font-size: 36px;
  }  
  .napae-blog-style-two .napae-blog-item {
    max-width: none;
    padding: 0;
  }
  .napae-blog-style-two .napae-blog-item .napae-image {
    float: none;
  }
  .napae-blog-style-two .napae-blog-item .napae-image img {
    width: auto;
  }
  .napae-blog-style-two .napae-blog-info {
    padding: 15px 0 0;
  }

	
}
@media screen and (max-width:600px) {
	.process-number-item {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
}
@media screen and (max-width:599px) {
	.napae-swiper-slide.swiper-container .swiper-button-prev,
  .napae-swiper-slide.swiper-container .swiper-button-next {
    display: none;
  }
  .banner-container {
    max-width: 540px;
    padding: 0 25px;
	}
	.testimonials-style-four .napae-testimonial-content {
	  padding: 20px 20px 5px;
	}
	.napae-blog-style-three .napae-blog-info ul li:nth-child(2),
	.napae-blog-style-three .napae-blog-info ul li:first-child,
	.napae-blog-style-three .napae-blog-info ul li {
		width: 100%;
		border-left: none;
	}
	.napae-blog-style-three .napae-blog-info {
		margin: 0 20px;
	}
	.napae-video-btn {
	  width: 50px;
	  height: 50px;
	}
	.napae-ripple, .napae-ripple:before, .napae-ripple:after {
	  height: 50px;
	  width: 50px;
	}
	.banner-sub-title .napae-image {
    display: inline-block;
    max-width: 100px;
  }
	.vertical-dots.napae-swiper-slide.swiper-container .swiper-pagination-bullets {
	  right: 10px;
	}

	
